html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FIM DO CSS RESET>> */

* {
    font-family: "Convergence", sans-serif;
  }

input{
    border: 2px solid;
    width: auto;
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;
}

body{
    background: rgb(13,140,134);
    background: linear-gradient(260deg, rgba(13,140,134,1) 0%, rgba(8,70,82,1) 100%, rgba(33,11,52,1) 100%);
}

table, td, th{
    margin: auto;
    border-width: 3px;
    color: white;
    text-align: center;
    border-style: solid;
    border-color: rgb(43, 39, 46);
    padding: 2px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    background: none;
    padding: 10px;
    font-size:x-large;
    font-family: monospace;
}

.menu{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid;
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    background: none;
    padding: 10px;
    font-size: larger;
    font-family: monospace;
}

.submitbutton{
    display: block;
    margin:auto;
    font-family: monospace;
    font-size: x-large;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 116, 192);
    margin-right: auto;
    margin-left: auto;

}

.submitbutton:hover{
    background-color: rgb(1, 35, 58);
}

p{
    color: white;
}

label{
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

select{
    border: 2px solid;
    width: auto;
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;
}

a#activetedState{
    background-color: rgba(83, 182, 92, 0.603);
    padding: 5px;
    border-radius: 10%;
}

div{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.37);
    border-width: 5px;
    border-style: double;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.echo{
    border: none;
    background-color: none;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#userprofile{
    background-color: rgba(4, 99, 161, 0.747);
    display: block;
    border: solid;
    border-width: 3px;
    border-color: white;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 60px;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
    margin-left: none;
}

fieldset{
    background-color: rgba(39, 39, 39, 0.521);
    display: block;
    border-style:outset;
    border-radius: 20px;
    border-width: 5px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    align-items: center;

}

.inicial{
    background-color: rgba(39, 39, 39, 0.521);
    border-style:outset;
    border-radius: 20px;
    border-width: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    align-items: center;

}

svg#profile{
    color: rgb(255, 255, 255);
}

button#verdados:hover{
    background-color: rgba(184, 238, 205, 0.74);
}